/*importing inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: linear-gradient(120deg, #f6d365, #fda085);
}

.popup_extension  {
   
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.chathead{
    display: flex;
    align-items: center;
    background: #5350C4;
    padding: 15px 22px;
    justify-content: space-between;
}

.chathead .chatinfo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chatinfo .chatbot-logo{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill:#5350C4;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
}

.chatinfo .logo-text{
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chathead #close-button{
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: 10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: #5350C4;
}